// background & margins, flexbox setup
.footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
}
// spacing b/w icons w/ flex
.footer-icons {
  display: flex;
  margin: 1.25rem 0.75rem;
}
// icon colors & size
.icons-wrapper {
  flex: 1 1 0;
  background-color: $gold;
  margin: 0.75rem;
  a {
    display: block;
  }
  img {
    transform: scale(0.8);
  }
}
// address font size, style, & padding
.address {
  color: $white;
  font-family: $secondaryFont;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 1rem 1.5rem;
}
// (almost) direct copy of nav bar logo
.footer-logo {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin: 1rem 0;
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}
// change layout on tablet
@media screen and ($ipad) {
  // items presented on row
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // make sure all items take up equal space
    > div {
      flex: 1 1 0;
    }
    // add padding b/w elements and border
    padding: 1rem;
  }

  .address {
    //   address now aligned center
    text-align: center;
  }
}

@media screen and ($desktop) {
  // more padding
  .footer {
    padding: 2rem;
  }
  //   smaller social media icons in bigger screens
  .footer-icons {
    transform: scale(0.75);
  }
}


@media screen and ($larger-screens) {
  .footer-icons {
    transform: scale(0.5);
  }

  .address{
    font-size: 2rem;
  }
}