// setup gold and center using flex
#principals-message{
  background-color: $gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// set margins for content
.principals-message-content{
  margin: 2rem 1.5rem;
}

// principal's message title
.principals-message-title-text{
  font-family: $primaryFont;
  font-size: 2.3rem;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

// principal's message paragraph (includes top and bottom)
.principals-message-paragraph{
  font-family: $secondaryFont;
  color: $black;
  font-size: 1.2rem;
}

// top message paragraph
.principals-message-paragraph-text-top{
  margin-bottom: 1.1rem;
}

// media queries
@media screen and ($desktop) {
  // center text and set margins
  .principals-message-content{
    text-align: center;
    margin: 4rem 12rem;
  }

  // change font of paragraphs
  .principals-message-title-text{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .principals-message-paragraph{
    font-size: 1.8rem;
  }
}





