// setup gold and center using flex
#principals-message{
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// hide principal-image
.principal-image{
  display: none;
}

// set margins for content
.principals-message-content{
  margin: 2rem 1.5rem;
}

// principal's message title
.principals-message-title-text{
  font-family: $primaryFont;
  font-size: 2.3rem;
  color: $gold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

// principal's message paragraph (includes top and bottom)
.principals-message-paragraph{
  font-family: $secondaryFont;
  color: $white;
  font-size: 1.2rem;
}

// top message paragraph
.principals-message-paragraph-text-top{
  margin-bottom: 1.1rem;
}

// media queries

// for desktop
@media screen and ($desktop) {

  // display flex + center
  .principal-message-content-all{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin: 3rem auto 3rem auto;
  }

  // principal image
  .principal-image{
    display: block;
    float: left;
    height: 30vh;
  }

  // main message-content
  .principals-message-content {
    display: inline-block;
  }

  // align text to left side
  .principals-message-title-text{
    text-align: left;
  }

  // change font of paragraphs
  .principals-message-title-text{
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  // change font of paragraph
  .principals-message-paragraph{
    font-size: 1.1rem;
  }
}

// for monitors and larger screens
@media screen and ($larger-screens) {

  // change font of paragraphs
  .principals-message-title-text{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  // change font of paragraph
  .principals-message-paragraph{
    font-size: 1.8rem;
  }
}





