.nav {
  background-color: $gold;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  img {
    height: 100%;
    max-width: 100%;
  }
  .logo-name {
    height: 70%;
  }
}

.nav-tabs{
  display: flex;
  align-items: center;
  font-family: $primaryFont;
  .nav-tab {
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;
    padding: 1.2rem;
  }
}

