// set-up nav color + align content
.nav {
  background-color: $gold;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// container of nav, which takes up 90% of screen
.nav-container {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

// logo in nav (text + logo)
.nav-logo {
  display: flex;
  align-items: center;
  // img logo
  img {
    height: 100%;
    max-width: 100%;
  }
  // text logo
  .logo-name {
    height: 70%;
  }
}

// nav-tabs - to go to other sections
.nav-tabs{
  display: flex;
  align-items: center;
  font-family: $primaryFont;
  // each nav tab
  .nav-tab {
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;
    padding: 1.2rem;
  }
}

