$gold: #c2b669;
$lighterGold: #f8e988;
$black: #000000;
$white: white;
// b & k put here for consistency

// fonts
$primaryFont: "Montserrat";
$secondaryFont: "Open Sans";

// screen sizes
$larger-screens: "min-width: 2000px";
$desktop: "min-width: 1025px";
$ipad: "min-width: 760px";
$ipad-landscape: "min-width: 1024px";

$hamburger-layer-width: 35px;
