$gold: #c2b669;
$black: black;
$white: white;
// b & k put here for consistency

$primaryFont: "Montserrat";
$secondaryFont: "Open Sans";

$larger-screens: "min-width: 2000px";
$desktop: "min-width: 1025px";

$hamburger-layer-width: 35px;
