// importing fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Open+Sans:wght@300;400;600&display=swap");

// import any variables first
@import "variables";

// hamburgers
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

// importing other partials
@import "nav";
@import "welcome", "message", "announcements", "footer","names";

// set and forget
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// make smooth scrolling possible
html {
  scroll-behavior: smooth;
}
